.note {
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;

    display: block;

    border: 1px solid var(--clr-dark);
    border-radius: 3px;
}

.note > div {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.note > div > div {
    flex: 1;

    overflow: hidden;
}

.note a {
    font-size: 1.25rem;
    color: var(--clr-main);
}

.due,
.overdue {
    font-size: 1rem !important;
}

.due {
    color: var(--clr-top);
}

.overdue {
    color: var(--clr-red);
}

.overdue::before {
    content: "over";
}
