.settings img {
    margin-bottom: 2rem;

    max-height: 192px;

    border: 1px solid var(--clr-dark);
    border-radius: 50%;
}

.theme {
    display: flex;
    align-items: center;
}

.theme p {
    margin-right: 1rem;
}

.settings .Dropdown-root {
    font-size: 1rem;
}

.settings .Dropdown-root {
    min-width: 96px;
}

.settings .Dropdown-option {
    padding: 0.5rem !important;
}

.settings .Dropdown-control {
    padding: 0.25rem 1.75rem 0.25rem 0.25rem;
}
