.sidebar {
    display: flex;

    width: 8px;
    min-width: 8px;

    transition: 0.25s width ease, 0.25s min-width ease;
}

.open {
    width: 300px;
    min-width: 300px;
}

.content {
    flex: 1;

    padding: 2rem;

    background-color: var(--clr-light-grey);
}

.content > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 625px;
    max-height: 625px;
}

.content > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore {
    color: var(--clr-blue);

    border: 1px solid var(--clr-blue);
}

.new {
    color: var(--clr-dark);

    border: 1px solid var(--clr-dark);
}

.logout,
.settings,
.explore,
.new {
    width: 100%;

    padding: 0.4rem 0.8rem;

    text-align: center;

    border-radius: 3px;

    margin-top: 1rem;
}

.logout {
    color: var(--clr-red);

    border: 1px solid var(--clr-red);
}

.settings {
    color: var(--clr-main);

    border: 1px solid var(--clr-main);
}

.profile img {
    max-width: 96px;

    border: 1px solid var(--clr-dark-grey);
    border-radius: 50%;
}

.profile h4 {
    font-size: 1.5rem;
}

.profile p {
    font-size: 1rem;
    color: var(--clr-dark-grey);
}

.trigger {
    position: fixed;

    top: 0;
    left: 0;

    height: 100%;

    cursor: pointer;
    background-color: var(--clr-side);
    width: 8px;
    transition: 0.25s width ease, 0.25s background-color ease;
}

.open .trigger {
    cursor: auto;
    background-color: var(--clr-dark-grey);
    width: 2px;
}

@media (min-width: 800px) {
    .sidebar {
        min-width: 300px;
    }
}
