.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
}

.header h2 {
    font-family: var(--ff-secondary);
}

.header a {
    font-size: 1rem;
    text-transform: uppercase;
}

.main {
    display: grid;
    place-items: center;
}

@media (min-width: 800px) {
    .header {
        padding: 1rem 1.5rem;
    }

    .header a {
        font-size: 1.15rem;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 1.25rem 2rem;
    }

    .header a {
        font-size: 1.25rem;
    }
}
