@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&family=Catamaran:wght@100;200;300;400&family=Fira+Code:wght@300;400&display=swap");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    --ff-primary: "Assistant", sans-serif;
    --ff-secondary: "Catamaran", sans-serif;
    --ff-mono: "Fira Code", monospace;

    --fs-h1: 2.15rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.65rem;
    --fs-h4: 1.3rem;
    --fs-body: 1.2rem;

    --clr-black: #111111;
    --clr-dark: #242424;
    --clr-main: #6366f1;
    --clr-side: #818cf8;
    --clr-top: #5f79ff;
    --clr-red: #f04847;
    --clr-green: #29d4a1;
    --clr-blue: #67afdf;
    --clr-light: #fafafa;
    --clr-light-grey: #f3f4f6;
    --clr-dark-grey: #999999;

    height: 100%;

    scroll-behavior: smooth;

    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    margin: 0;
    height: 100%;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-light);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout {
    display: flex;

    min-height: 100vh;
}

.content {
    flex: 1;

    min-width: calc(100vw - 8px);
}

.content > div {
    padding: 1rem;
}

.content > div > input {
    margin: 0.25rem;

    display: block;
}

.control {
    margin-left: 0.5rem;

    display: flex;
    align-items: center;
}

.control p {
    margin-right: 0.35rem;
}

.control p,
.control .Dropdown-root {
    font-size: 1rem;
}

.control .Dropdown-option {
    padding: 0.5rem !important;
}

.control .Dropdown-control {
    padding: 0.25rem 1.75rem 0.25rem 0.25rem;
}

.search {
    margin: 0.5rem;
    padding: 0.5rem;

    width: 200px;

    font-size: 1rem;

    border: none;
    border-radius: 4px;

    transition: 0.25s width ease;
}

.search:focus {
    width: 300px;
}

.note-editor {
    margin: 0.25rem;
    padding: 0.5rem;

    width: 400px;
    height: 600px;

    display: block;

    font-size: 1rem;
    font-family: var(--ff-primary);

    border-radius: 4px;
    border: 1px solid var(--clr-dark-grey);

    resize: none;
}

.site {
    padding: 0.25rem;

    width: 400px;

    font-size: 1rem;
    font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

p {
    font-size: var(--fs-body);
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.purple {
    color: var(--clr-main);
}

.lpurple {
    color: var(--clr-side);
}

@media (min-width: 800px) {
    html {
        --fs-h1: 2.25rem;
        --fs-h2: 2rem;
        --fs-h3: 1.75rem;
        --fs-h4: 1.45rem;
        --fs-body: 1.25rem;
    }

    .content {
        min-width: unset;
    }
}

@media (min-width: 1200px) {
    html {
        --fs-h1: 2.3rem;
        --fs-h2: 2.1rem;
        --fs-h3: 1.8rem;
        --fs-h4: 1.6rem;
        --fs-body: 1.3rem;
    }

    .search {
        width: 250px;
    }

    .search:focus {
        width: 375px;
    }

    .note-editor {
        width: 500px;
        height: 650px;
    }
}

@media (min-width: 1500px) {
    html {
        --fs-h1: 2.35rem;
        --fs-h2: 2.1rem;
        --fs-h3: 1.9rem;
        --fs-h4: 1.7rem;
        --fs-body: 1.35rem;
    }

    .search {
        width: 300px;
    }

    .search:focus {
        width: 450px;
    }

    .note-editor {
        width: 600px;
        height: 700px;
    }
}

@media (min-width: 1800px) {
    html {
        --fs-h1: 2.4rem;
        --fs-h2: 2.2rem;
        --fs-h3: 2rem;
        --fs-h4: 1.8rem;
        --fs-body: 1.4rem;
    }

    .search {
        width: 350px;
    }

    .search:focus {
        width: 525px;
    }

    .note-editor {
        width: 700px;
        height: 700px;
    }
}
