@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&family=Catamaran:wght@100;200;300;400&family=Fira+Code:wght@300;400&display=swap");

html {
    --ff-primary: "Assistant", sans-serif;
    --ff-secondary: "Catamaran", sans-serif;
    --ff-mono: "Fira Code", monospace;

    --clr-black: #cccccc;
    --clr-dark: #cccccc;
    --clr-main: #8486f8;
    --clr-side: #99a3ff;
    --clr-top: #222222;
    --clr-red: #ff4949;
    --clr-green: #29d4a1;
    --clr-blue: #63c1f7;
    --clr-light: #111111;
    --clr-light-grey: #181818;
    --clr-text: #bbbbbb;
    --clr-dark-grey: #aaaaaa;
    --clr-dark-dark-grey: #555555;
}

input,
textarea {
    color: var(--clr-black) !important;

    background-color: var(--clr-light-grey) !important;

    border: 1px solid var(--clr-dark-dark-grey) !important;
    border-radius: 3px;
}

.Dropdown-root {
    color: var(--clr-black) !important;
}

.Dropdown-placeholder {
    color: var(--clr-black) !important;
}

.Dropdown-option {
    color: var(--clr-black) !important;
    background-color: var(--clr-light-grey) !important;
}

.Dropdown-control {
    background-color: var(--clr-light-grey) !important;

    border: 1px solid var(--clr-dark-dark-grey) !important;
}
